
.buttons {  
  margin: 10px auto;
  max-width: 120px;
  display: flex;
  justify-content: space-between;
}

.button-circular {
  font-size: 24px;
  width: 50px;
  height: 50px;
  border: 0px;
  margin: 4px;
  border-radius: 50%;
}

